*{
    max-width: auto;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
}

.whitebox{
    width: 550px;
    /* height: 500px; */
    height: auto;
    background-color: white;
    border: 1px solid white;
    padding: 20px 40px;
    margin-top: 130px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login{
    text-align: center;
    margin-top: 30px;
}

.enter-login{
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
}

.username-label, .password-label, .checkbox-label{
    font-weight: bold;
    font-size: 14px;
}

.pholder{
    margin-top: 5px;
    width: 100%;
    padding: 13px;
    font-size: 10px;
    border: 1px solid rgb(202, 199, 199);
    outline: none;
}

.checkboxtp{
    margin-top: 2px;
}

.forgotp{
    text-decoration: none;
    margin-top: 10px;
    color: red;
    font-size: 11px;
    font-weight: bold;
}

.toflex{
    display: flex;
    gap: 210px;
}

.dont-text{
    font-size: 14px;
}

.sign-up{
    text-decoration: none;
    color: red;
}

.sign-in{
    text-decoration: none;
    width: 100px;
    padding: 15px;
    color: white;
    background-color: red;
    border: none;
}

.logintoflex{
    display: flex;
    gap: 150px;
}