*{
    max-width: auto;
    box-sizing: border-box;
}

.whitebox{
    width: 550px;
    height: 610px;
    background-color: white;
    border: 1px solid white;
    margin-left: 32%;
    margin-top: 5%;
    padding: 0px 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-top: 50px;
}

.enter-login{
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
}

.username-label, .password-label{
    font-weight: bold;
    font-size: 14px;
}

.pholder{
    margin-top: 5px;
    width: 100%;
    padding: 13px;
    font-size: 10px;
    border: 1px solid rgb(202, 199, 199);
    outline: none;
}

.dont-text{
    font-size: 14px;
}

.sign-up{
    text-decoration: none;
    color: red;
}

.sign-in{
    margin-top: -9px;
    text-decoration: none;
    width: 110px;
    padding: 15px;
    color: white;
    background-color: red;
    border: none;
}

.logintoflex{
    display: flex;
    gap: 140px;
}