*{
    max-width: auto;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
}

.nav1left{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav1{
    text-decoration: none;
    color: rgb(102, 100, 100);
    font-size: 13px;
}

.wishntrack{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav11{
    text-decoration: none;
    color: rgb(102, 100, 100);
    font-size: 13px;
    border-right: 1px solid rgb(243, 238, 238);
    padding-right: 10px;
}

.nav111{
    margin-left: -10px;
    text-decoration: none;
    color: rgb(102, 100, 100);
    font-size: 13px;
    border-right: 1px solid rgb(243, 238, 238);
    padding-right: 10px;
}

.nav1icon{
    list-style-type: none;
    display: flex;
    gap: 15px;
    padding-left: 10px;
}

.socialicon1:link {
    color: grey;
    font-size: 13px;
}

.socialicon1:hover{
    color: red;
}

.nav1right{
    display: flex;
}

.nav1parent{
    display: flex;
    margin-top: -8px;
    gap: 500px;
    justify-content: center;
    width: 100%;
    height: auto;
}

.hr1{
    border: 1px solid rgb(243, 238, 238);
    margin-top: -8px;
}

.nav2{
    list-style-type: none;
    display: flex;
    gap: 40px;   
}

.nav22:link {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.nav22:visited {
    color: black;
}

.nav22:hover {
    color: red;
}

.nav23{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav233:link {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;
}

.nav233:visited {
    color: black;
}

.nav233:hover {
    color: red;
}

.nav2text{
    display: flex;
    gap: 60px;
}

.logo{
    margin-left: 50px;
    margin-top: 7px;
}

.nav2parent{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 60px;
    background-color: white;
    padding: 10px;
    z-index: 1;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}

.parenticonwidth{
    width: 100%;
    height: auto;
}

.saleparent{
    width: 100%;
    height: 40px;
    padding: 12px;
    background-color: black;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.sale{
    color: white;
    font-size: 13px;
}

.shop{
    color: gold;
    text-decoration: underline;
    font-size: 13px;
}

.shop:hover {
    cursor: pointer;
    letter-spacing: 2px;
}

.nav22page {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.nav22page:visited {
    color: black;
}

.nav22page:hover {
    color: red;
}

.pagelist{
    display: none;
    position: absolute;
    width: 140px;
    height: 130px;
    padding-left: 10px;
    padding-top: 20px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    list-style-type: none;
    font-size: 13px;
    font-weight: bold;
    border-top: 3px solid red;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.pagetodisplay{
    position: relative;
    display: block;
}

.pagetodisplay:hover .pagelist {
    display: block;
}

.list3{
    text-decoration: none;
    color: black;
    line-height: 25px;
}

.list3:hover {
    color: red;
    font-size: 15px;
}

.bloglist{
    display: none;
    position: absolute;
    width: 90px;
    height: 100px;
    padding-left: 10px;
    padding-top: 20px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    list-style-type: none;
    font-size: 13px;
    font-weight: bold;
    border-top: 3px solid red;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.blogtodisplay{
    position: relative;
    display: block;
}

.blogtodisplay:hover .bloglist {
    display: block;
}

/* heru-page */

.herutext{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 60%;
    top: 50%;
    font-size: 18px;
}

.heropicsub{
    display: none;
}

.fashionbox{
    text-align: center;
    margin-left: -700px;
    top: 50%;
}

.fashion{
    font-family: "Dancing Script", sans-serif;
    font-size: 35px;
    font-weight: lighter;
    color: red;
}

.minimal{
    font-family: "Lexend", sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin-top: 10px;
    letter-spacing: 1px;
}

.loremtext{
    margin-top: 10px;
    font-size: medium;
    width: 300px;
    color: grey;
}

.shopnowbutton{
    text-decoration: none;
    margin-top: 10px;
    font-size: small;
    background-color: rgb(35, 33, 33);
    color: white;
    padding: 10px 20px;
}

.shopnowbutton:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.previous{
    text-decoration: none;
    border: none;
    background-color: grey;
    font-weight: lighter;
    color: white;
    padding: 30px 15px;
    opacity: 0.4;
}

.previous:hover{
    background-color: black;
}

.next{
    text-decoration: none;
    border: none;
    background-color: grey;
    font-weight: lighter;
    color: white;
    padding: 30px 15px;
    opacity: 0.4;
    right: 0px;
}

.next:hover{
    background-color: black;
}


/* fashion */

.fashionimages{
    display: flex;
    gap: 20px;
    margin: 0px 235px;
}

.fashionimage1text{
    position: absolute;
    text-align: center;
    left: 335px;
    bottom: -250px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.fashionimagentext1:hover{
    .mwbshopnow{
        display: block;
    }

    .fashionimage1{
        -ms-transform: scale(1.01); /* IE 9 */
        -webkit-transform: scale(1.01); /* Safari 3-8 */
        transform: scale(1.01);
    }
}

.fashionimagentext2:hover{
    .mwbshopnow{
        display: block;
    }

    .fashionimage2{
        -ms-transform: scale(1.01); /* IE 9 */
        -webkit-transform: scale(1.01); /* Safari 3-8 */
        transform: scale(1.01);
    }
}

.fashionimagentext3:hover{
    .mwbshopnow{
        display: block;
    }

    .fashionimage3{
        -ms-transform: scale(1.01); /* IE 9 */
        -webkit-transform: scale(1.01); /* Safari 3-8 */
        transform: scale(1.01);
    }
}

.fashionimage2text{
    position: absolute;
    text-align: center;
    left: 670px;
    bottom: -250px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.fashionimage3text{
    position: absolute;
    text-align: center;
    left: 1045px;
    bottom: -250px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.mwbfashion{
    font-size: x-large;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

.mwbshopnow{
    display: none;
    font-size: medium;
    color: gold;
    text-decoration: underline;
}

/* trending */

.trendingparent{
    display: flex;
    gap: 550px;
    padding: 20px;
    border-bottom: 1px solid rgb(243, 238, 238);
    width: 70%;
}

.centertrending{
    display: flex;
    justify-content: center;
}

.trending{
    font-size: 25px;
    font-weight: bold;
}

.formensec{
    display: flex;
    gap: 30px;
    top: 0px;
}

.newlista{
    text-decoration: none;
    color: black;
}

.newlist:hover{
    border-bottom: 3px solid red;
}

.latestparent{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0px 250px;
}

.product{
    font-size: 14px;
}

.realprice{
    font-size: 15px;
}

.oldprice{
    font-size: 15px;
}

.latestcontainer1{
    text-align: center;
}

.latestcontainer1:hover{
    .lpics1{
        -ms-transform: scale(1.01); /* IE 9 */
        -webkit-transform: scale(1.01); /* Safari 3-8 */
        transform: scale(1.01);
    }

    .product{
        color: red;
    }

    .hlogoflex1{
        display: block;
    }
}

.hlogoflex1{
    position: absolute;
    margin-left: 55px;
    margin-top: -120px;
    display: none;
}

.cartlogo1{
    text-decoration: none;
    color: black;
    width: 60px;
    padding: 12px;
    background-color: white;
    /* border: 1px solid black; */
}

.cartlogo1:hover{
    color: white;
    background-color: red;
}

.cartlogo2{
    text-decoration: none;
    color: black;
    width: 60px;
    padding: 12px;
    background-color: white;
    margin-left: -4px;
    /* border: 1px solid black; */
}

.cartlogo2:hover{
    color: white;
    background-color: red;
}

.cartlogo3{
    text-decoration: none;
    color: black;
    width: 60px;
    padding: 12px;
    background-color: white;
    margin-left: -4px;
    /* border: 1px solid black; */
}

.cartlogo3:hover{
    color: white;
    background-color: red;
}

.latestcontainer2{
    text-align: center;
}

.latestcontainer2:hover{
    .lpics2{
        -ms-transform: scale(1.01); /* IE 9 */
        -webkit-transform: scale(1.01); /* Safari 3-8 */
        transform: scale(1.01);
    }

    .product{
        color: red;
    }

    .hlogoflex2{
        display: block;
    }
}

.hlogoflex2{
    position: absolute;
    margin-left: 55px;
    margin-top: -120px;
    display: none;
}

.latestcontainer3{
    text-align: center;
}

.latestcontainer3:hover{
    .lpics3{
        -ms-transform: scale(1.01); /* IE 9 */
        -webkit-transform: scale(1.01); /* Safari 3-8 */
        transform: scale(1.01);
    }

    .product{
        color: red;
    }

    .hlogoflex3{
        display: block;
    }
}

.hlogoflex3{
    position: absolute;
    margin-left: 55px;
    margin-top: -120px;
    display: none;
}

.latestcontainer4{
    text-align: center;
}

.latestcontainer4:hover{
    .lpics4{
        -ms-transform: scale(1.01); /* IE 9 */
        -webkit-transform: scale(1.01); /* Safari 3-8 */
        transform: scale(1.01);
    }

    .product{
        color: red;
    }

    .hlogoflex4{
        display: block;
    }
}

.hlogoflex4{
    position: absolute;
    margin-left: 55px;
    margin-top: -120px;
    display: none;
}

.oldprice{
    color: rgb(135, 115, 5);
    margin-left: 10px;
}

.yellowbox{
    display: grid;
    justify-content: center;
    width: 100%;
    height: 340px;
    background-color: blanchedalmond;
}

/* customer-details */

.customer{
    font-size: 25px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: -30px;
    text-align: center;
}

.customertext{
    text-align: center;
    line-height: 25px;
    word-spacing: 2px;
    font-size: medium;
    margin-bottom: -20px;
}

.customer-details{
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 20px;
    line-height: 20px;
}

.designer-name{
    font-size: small;
    margin-top: 7px;
}

.designer-role{
    font-size: small;
    font-weight: bold;
    color: grey;
}

/* you-may-like */

.yml{
    font-size: 25px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.ymlparent{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0px 250px;
}

.ymlproduct{
    font-size: 14px;
}

.ymlrealprice{
    font-size: 15px;
}

.ymloldprice{
    font-size: 15px;
}

.ymlcontainer1{
    text-align: center;
}

.ymlcontainer1:hover{
    .ymlimage1{
        -ms-transform: scale(1.01); /* IE 9 */
        -webkit-transform: scale(1.01); /* Safari 3-8 */
        transform: scale(1.01);
    }

    .ymlproduct{
        color: red;
    }

    .hlogoflex11{
        display: block;
    }
}

.hlogoflex11{
    position: absolute;
    margin-left: 55px;
    margin-top: -120px;
    display: none;
}

.cartlogo11{
    text-decoration: none;
    color: black;
    width: 60px;
    padding: 12px;
    background-color: white;
    /* border: 1px solid black; */
}

.cartlogo11:hover{
    color: white;
    background-color: red;
}

.cartlogo22{
    text-decoration: none;
    color: black;
    width: 60px;
    padding: 12px;
    background-color: white;
    margin-left: -4px;
    /* border: 1px solid black; */
}

.cartlogo22:hover{
    color: white;
    background-color: red;
}

.cartlogo33{
    text-decoration: none;
    color: black;
    width: 60px;
    padding: 12px;
    background-color: white;
    margin-left: -4px;
    /* border: 1px solid black; */
}

.cartlogo33:hover{
    color: white;
    background-color: red;
}

.ymlcontainer2{
    text-align: center;
}

.ymlcontainer2:hover{
    .ymlimage2{
        -ms-transform: scale(1.01); /* IE 9 */
        -webkit-transform: scale(1.01); /* Safari 3-8 */
        transform: scale(1.01);
    }

    .ymlproduct{
        color: red;
    }

    .hlogoflex22{
        display: block;
    }
}

.hlogoflex22{
    position: absolute;
    margin-left: 55px;
    margin-top: -120px;
    display: none;
}

.ymlcontainer3{
    text-align: center;
}

.ymlcontainer3:hover{
    .ymlimage3{
        -ms-transform: scale(1.01); /* IE 9 */
        -webkit-transform: scale(1.01); /* Safari 3-8 */
        transform: scale(1.01);
    }

    .ymlproduct{
        color: red;
    }

    .hlogoflex33{
        display: block;
    }
}

.hlogoflex33{
    position: absolute;
    margin-left: 55px;
    margin-top: -120px;
    display: none;
}

.ymlcontainer4{
    text-align: center;
}

.ymlcontainer4:hover{
    .ymlimage4{
        -ms-transform: scale(1.01); /* IE 9 */
        -webkit-transform: scale(1.01); /* Safari 3-8 */
        transform: scale(1.01);
    }

    .ymlproduct{
        color: red;
    }

    .hlogoflex44{
        display: block;
    }
}

.hlogoflex44{
    position: absolute;
    margin-left: 55px;
    margin-top: -120px;
    display: none;
}

/* latest-news */

.latestnewsbox{
    width: 100%;
    height: 600px;
    background-color: rgb(241, 241, 241);
}

.latestnewsparent{
    display: flex;
    justify-content: center;
    margin: 0px 235px;
    gap: 20px;
}

.latestnews{
    text-align: center;
    padding-top: 70px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}

.latestnewscontainer1:hover{
    .vogue{
        color: red;
    }
}

.latestnewscontainer2:hover{
    .vogue{
        color: red;
    }
}

.latestnewscontainer3:hover{
    .vogue{
        color: red;
    }
}

.ftips{
    font-size: small;
    color: grey;
}

.vogue{
    font-size: large;
    font-weight: bold;
    word-spacing: 2px;
    color: black;
    text-decoration: none;
}

.consectetur{
    font-size: small;
    color: grey;
    line-height: 22px;
}

.readmore{
    font-size: small;
    font-weight: bold;
    color: black;
}

.readmore:hover{
    font-size: 14px;
}

.deliveryparentbox{
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 30px 50px;
}

.dicon{
    font-size: 35px;
    text-align: center;
}

.line2{
    text-align: center;
    font-weight: bold;
}

.line3{
    text-align: center;
    font-size: small;
    color: grey;
}

/* deliverysection */

.deliverybox{
    border-right: 1px solid rgb(246, 241, 241);
    padding-right: 50px;
}

.securepaymentbox{
    border-right: 1px solid rgb(246, 241, 241);
    padding-right: 50px;
}

.moneybackbox{
    border-right: 1px solid rgb(246, 241, 241);
    padding-right: 50px;
}

/* footer */

.blackbox{
    background-color: black;
    width: 100%;
    height: 540px;
    padding: 50px;
}

.subscribediv{
    width: 70%;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(54, 52, 52);
    display: flex;
    margin: 0px 16%;
    gap: 100px;
}

.subscribe{
    font-size: larger;
    font-weight: bold;
}

.subscribetext{
    font-size: small;
}

.subscribe-container{
    color: white;
    line-height: 30px;
}

.emailinputandsubmit{
    margin-top: 10px;
}

.input-email{
    width: 300px;
    padding: 13px;
    border: none;
    color: black;
    outline: none;
    font-size: 12px;
}

.submit-button{
    width: 100px;
    padding: 13px;
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    margin-left: 5px;
}

.submit-button:hover{
    cursor: pointer;
}

.icons3flex{
    display: flex;
    text-align: center;
    gap: 25px;
    color: grey;
    font-size: large;
    margin-top: 15px;
}

.fsicon{
    text-decoration: none;
    color: grey;
}

.fsicon:hover{
    color: red;
}

.footer2{
    display: flex;
    justify-content: center;
    gap: 100px;
    border-bottom: 1px solid rgb(54, 52, 52);
    width: 70%;
    margin: 0px 16%;
    margin-top: 50px;
    padding-bottom: 100px;
}

.footer2text{
    display: flex;
    gap: 110px;
}

.topshop{
    color: white;
    margin-top: -1px;
    font-size: 14px;
    text-decoration: none;
}

.otherlinks{
    color: rgb(169, 167, 167);
    margin-top: 5px;
    font-size: small;
    font-size: 13px;
    line-height: 20px;
    text-decoration: none;
}

.otherlinks :hover{
    text-decoration: underline;
}

/* copyright */

.copyright{
    text-align: center;
    color: rgb(169, 167, 167);
    margin-top: 5px;
    font-size: small;
    font-size: 13px;
}

.cri{
    color: red;
}

/* media-queries */

.menudropdown{
    display: none;
    background-color: rgb(56, 54, 54);
    font-size: small;
    z-index: 1;
    width: 100%;
    height: auto;
}

.menu{
    text-decoration: none;
    color: white;
    position: absolute;
    right: 10px;
    margin-top: 10px;
}

.menutoflex{
    display: flex;
    justify-content: right;
    gap: 10px;
    background-color: #000000;
    padding: 4px 10px;
}

.nav2dn{
    display: none;
    list-style-type: none;
    padding-top: 50px;
    line-height: 30px;
}

.nav22dn{
    text-decoration: none;
    color: white;
}

.nav22dnpage{
    display: none;
    color: white;
    text-decoration: none;
}

.pagelistdn{
    list-style-type: none;
}

.list3dn{
    text-decoration: none;
    color: white;
}

.bloglistdn{
    list-style-type: none;
}

.pagelistdn{
    display: none;
}

.pagetodisplaydn:hover .pagelistdn{
    display: block;
}

.bloglistdn{
    display: none;
}

.blogtodisplaydn:hover .bloglistdn{
    display: block;
}

.menudropdown:hover .nav2dn{
    display: block;
}

.menudropdown:hover .nav22dnpage{
    display: block;
}

/* asdfghj */

@media screen and (max-width: 1500px) {
  .previous{
    display: none;
  }

  .next{
    display: none;
  }
}

@media screen and (max-width: 1400px) {
  .nav1parent{
    gap: 400px;
  }

  .nav2parent{
    gap: 0px;
  }
}

@media screen and (max-width: 1200px) {
    .nav1parent{
        gap: 300px;
    }

    .heropic{
        object-fit: contain;
    }
}

@media screen and (max-width: 992px) {
    .nav1parent{
        gap: 0px;
    }

    .fashionbox{
        text-align: center;
        margin-left: -300px;
        margin-top: -85px;
        line-height: 30px;
    }

    .nav2text{
        display: none;
    }

    .menu{
        display: block;
    }

    .menutoflex{
        z-index: 1;
    }

    .sale{
        display: none;
    }

    .shop{
        display: none;
    }

    .menudropdown{
        display: block;
    }

    .heropic{
        object-fit: contain;
    }
}

@media screen and (max-width: 768px) {
  .nav1left{
        display: none;
    }

    .box11{
        display: none;
    }

    .fashionbox{
        text-align: center;
        margin-left: -300px;
        margin-top: -85px;
        line-height: 30px;
    }

    .latestparent{
        display: block;
    }

    .ymlparent{
        width: 100%;
    }

    .fashionimages{
        display: block;
        /* width: 768px;
        margin: none;
        padding: none; */
        /* gap: 20px; */
        /* margin: 0px 235px; */
    }

    .trending{
        display: flex;
        justify-content: center;
    }

    .fashionbox{
        width: 100%;
        height: auto;
    }

    .heropic{
        display: none;
    }

    .heropicsub{
        display: block;
    }

    .subscribediv{
        display: grid;
    }

    .blackbox{
        height: auto;
        width: 100%;
    }

    .deliveryparentbox{
        display: grid;
        height: auto;
    }

    .trendingparent{
        display: grid;
        gap: 15px;
    }

    .formensec{
        display: flex;
        justify-content: center;
    }

    .links-to-remove{
        display: none;
    }
}

@media screen and (max-width: 375px) {
  .nav1parent{
        display: none;
    }

    .nav2parent{
        width: 100%;
    }

    .heropic{
        object-fit: contain;
    }

    .fashionbox{
        text-align: center;
        margin-left: -200px;
        margin-top: -130px;
        line-height: 30px;
    }

    .fashionbox{
        width: 100%;
        height: auto;
    }

    .blackbox{
        height: auto;
        width: 100%;
    }

    .deliveryparentbox{
        display: grid;
        height: auto;
    }
}